body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
.bgimg {
    background-image: url("assets/images/ganapathy-kumar-58535-v2.jpg");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#cowboy {
      max-width: 500px;
  }

.col-md-10 {
      text-align: center;
      background-color: rgba(0, 0, 0, .8);
      padding: 25px;
  }

.container {
    margin-top: 5%;
}



